
.rm-wrapper
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1000
  background-color: rgba(0, 0, 0, 0.5)

responsive-modal($options = {})
  $width = $options.width || 800px
  $height = $options.height || 600px
  $margin = 10px
  $query = $options.query || 'both'

  $query-width-big = '(min-width: ' + ($width + $margin*2) + ')'
  $query-width-small = '(max-width: ' + ($width + $margin*2 - 1) + ')'
  $query-height-big = '(min-height: ' + ($height + $margin*2) + ')'
  $query-height-small = '(max-height: ' + ($height + $margin*2 - 1) + ')'

  if $query == 'width'
    $query-height-big += ' and ' + $query-width-big
    $query-height-small += ', ' + $query-width-small
  if $query == 'height'
    $query-width-big += ' and ' + $query-height-big
    $query-width-small += ', ' + $query-height-small

  .rm-content
    position: absolute
    box-sizing: border-box
    background-color: #fff
    overflow: auto

    @media $query-width-big
      left: 50%
      margin-left: -($width / 2)
      width: $width
    @media $query-width-small
      left: $margin
      right: $margin

    @media $query-height-big
      top: 50%
      margin-top: -($height / 2)
      height: $height
    @media $query-height-small
      top: $margin
      bottom: $margin
